@model ModelExample.Models.Product
@{ 
    ViewBag.Title = "Details";
}

<h2>Details of Product</h2>
<ul>
    <li>@Model.ProductId</li>
    <li>@Model.ProductName</li>
    <li>@Model.Rate</li>
    
</ul>

