
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

@section SideMenuOption{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Marketing Contact</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">HR and Helpdesk</a>
}

@{
    ViewBag.ListTitle = "List of Contacts";
    ViewBag.items = new List<string> { "Sindhi Camp Road, Akola", "Gandhi Road, Washim", "IT Hub Bangalore" };
    Html.RenderPartial("ListPartialView");


}

