
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact</h2>

@section SideMenuOption{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Marketing Contact</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">HR and Helpdesk</a>
}