
@{
    ViewBag.Title = "Home";

}

<h2>Home page content here</h2>

@section SideMenuOption{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Basic Information</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Index details</a>
} 